WSDL/HelperService/HelperService_xsd_20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.ech.ch/xmlns/eCH-0021-f/6" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ech.ch/xmlns/eCH-0021-f/6">
  <xs:import schemaLocation="HelperService_xsd_17.xsd" namespace="http://www.ech.ch/xmlns/eCH-0044-f/3" />
  <xs:import schemaLocation="HelperService_xsd_21.xsd" namespace="http://www.ech.ch/xmlns/eCH-0011-f/7" />
  <xs:import schemaLocation="HelperService_xsd_22.xsd" namespace="http://www.ech.ch/xmlns/eCH-0008-f/3" />
  <xs:import schemaLocation="HelperService_xsd_24.xsd" namespace="http://www.ech.ch/xmlns/eCH-0010-f/5" />
  <xs:complexType name="birthDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dateOfBirth" type="q1:datePartiallyKnownType" xmlns:q1="http://www.ech.ch/xmlns/eCH-0044-f/3" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthPlace" type="q2:birthplaceType" xmlns:q2="http://www.ech.ch/xmlns/eCH-0011-f/7" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deathDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dateOfDeath" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="placeOfDeath" type="q3:birthplaceType" xmlns:q3="http://www.ech.ch/xmlns/eCH-0011-f/7" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nameDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="officialName" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="firstName" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="originalName" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="alliancePartnershipName" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="aliasName" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="otherName" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="callName" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="nameOnPassport" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="firstNameOnPassport" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="title" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="nameValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="religionDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="religion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="religionValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nationalityDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="nationalityStatus" type="tns:nationalityStatusType" />
      <xs:element minOccurs="0" maxOccurs="1" name="country" type="q4:countryType" xmlns:q4="http://www.ech.ch/xmlns/eCH-0008-f/3" />
      <xs:element minOccurs="0" maxOccurs="1" name="nationalityValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nationalityStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="generalDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="languageOfCorrespondance" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="nameOfFatherAtBirth" type="tns:nameOfParentAtBirthType" />
      <xs:element minOccurs="0" maxOccurs="1" name="nameOfMotherAtBirth" type="tns:nameOfParentAtBirthType" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataLock" type="tns:dataLockType" />
      <xs:element minOccurs="0" maxOccurs="1" name="paperLock" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="generalDataValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nameOfParentAtBirthType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="officialName" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="firstNameOnly" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="officialNameOnly" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="officialProofOfNameOfParentsYesNo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="dataLockType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="residencePermitDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="residencePermit" type="tns:residencePermitType" />
      <xs:element minOccurs="0" maxOccurs="1" name="residencePermitTill" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="residencePermitValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="residencePermitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="01" />
      <xs:enumeration value="0102" />
      <xs:enumeration value="02" />
      <xs:enumeration value="0201" />
      <xs:enumeration value="0202" />
      <xs:enumeration value="03" />
      <xs:enumeration value="0301" />
      <xs:enumeration value="0302" />
      <xs:enumeration value="04" />
      <xs:enumeration value="0401" />
      <xs:enumeration value="0402" />
      <xs:enumeration value="05" />
      <xs:enumeration value="0503" />
      <xs:enumeration value="06" />
      <xs:enumeration value="0601" />
      <xs:enumeration value="0602" />
      <xs:enumeration value="060101" />
      <xs:enumeration value="060201" />
      <xs:enumeration value="060102" />
      <xs:enumeration value="060202" />
      <xs:enumeration value="07" />
      <xs:enumeration value="0701" />
      <xs:enumeration value="0702" />
      <xs:enumeration value="070101" />
      <xs:enumeration value="070201" />
      <xs:enumeration value="070102" />
      <xs:enumeration value="070202" />
      <xs:enumeration value="070103" />
      <xs:enumeration value="070104" />
      <xs:enumeration value="070204" />
      <xs:enumeration value="070105" />
      <xs:enumeration value="070205" />
      <xs:enumeration value="070206" />
      <xs:enumeration value="070907" />
      <xs:enumeration value="08" />
      <xs:enumeration value="0804" />
      <xs:enumeration value="09" />
      <xs:enumeration value="0905" />
      <xs:enumeration value="10" />
      <xs:enumeration value="1006" />
      <xs:enumeration value="100601" />
      <xs:enumeration value="100602" />
      <xs:enumeration value="100603" />
      <xs:enumeration value="11" />
      <xs:enumeration value="1107" />
      <xs:enumeration value="12" />
      <xs:enumeration value="1208" />
      <xs:enumeration value="1300" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="relationshipType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="typeOfRelationship" type="tns:typeOfRelationshipType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="basedOnLaw" type="tns:basedOnLawType" />
      <xs:element minOccurs="0" maxOccurs="1" name="basedOnLawAddOn" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="care" type="tns:yesNoType" />
      <xs:element minOccurs="0" maxOccurs="1" name="partner" type="tns:partner" />
      <xs:element minOccurs="0" maxOccurs="1" name="relationshipValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="typeOfRelationshipType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
      <xs:enumeration value="6" />
      <xs:enumeration value="7" />
      <xs:enumeration value="8" />
      <xs:enumeration value="9" />
      <xs:enumeration value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="basedOnLawType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="368" />
      <xs:enumeration value="369" />
      <xs:enumeration value="370" />
      <xs:enumeration value="371" />
      <xs:enumeration value="372" />
      <xs:enumeration value="327-a" />
      <xs:enumeration value="393" />
      <xs:enumeration value="394" />
      <xs:enumeration value="395" />
      <xs:enumeration value="396" />
      <xs:enumeration value="397" />
      <xs:enumeration value="398" />
      <xs:enumeration value="399" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yesNoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="partner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="personIdentification" type="q5:personIdentificationType" xmlns:q5="http://www.ech.ch/xmlns/eCH-0044-f/3" />
      <xs:element minOccurs="0" maxOccurs="1" name="personIdentificationPartner" type="q6:personIdentificationLightType" xmlns:q6="http://www.ech.ch/xmlns/eCH-0044-f/3" />
      <xs:element minOccurs="0" maxOccurs="1" name="partnerIdOrganisation" type="q7:partnerIdOrganisationType" xmlns:q7="http://www.ech.ch/xmlns/eCH-0011-f/7" />
      <xs:element minOccurs="0" maxOccurs="1" name="address" type="q8:mailAddressType" xmlns:q8="http://www.ech.ch/xmlns/eCH-0010-f/5" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="placeOfOriginAddonType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="origin" type="q9:placeOfOriginType2" xmlns:q9="http://www.ech.ch/xmlns/eCH-0011-f/7" />
      <xs:element minOccurs="0" maxOccurs="1" name="reasonOfAcquisition" type="tns:reasonOfAcquisitionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="naturalizationDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="expatriationDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="placeOfOriginValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="reasonOfAcquisitionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
      <xs:enumeration value="6" />
      <xs:enumeration value="8" />
      <xs:enumeration value="9" />
      <xs:enumeration value="10" />
      <xs:enumeration value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="occupationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="employer" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="placeOfWork" type="q10:addressInformationType" xmlns:q10="http://www.ech.ch/xmlns/eCH-0010-f/5" />
      <xs:element minOccurs="0" maxOccurs="1" name="placeOfEmployer" type="q11:addressInformationType" xmlns:q11="http://www.ech.ch/xmlns/eCH-0010-f/5" />
      <xs:element minOccurs="0" maxOccurs="1" name="occupationValidTill" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="occupationValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="armedForcesType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="armedForcesService" type="tns:yesNoType" />
      <xs:element minOccurs="0" maxOccurs="1" name="armedForcesLiability" type="tns:yesNoType" />
      <xs:element minOccurs="0" maxOccurs="1" name="armedForcesValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="civilDefenseDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="civilDefense" type="tns:yesNoType" />
      <xs:element minOccurs="0" maxOccurs="1" name="civilDefenseValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fireServiceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="fireService" type="tns:yesNoType" />
      <xs:element minOccurs="0" maxOccurs="1" name="fireServiceLiability" type="tns:yesNoType" />
      <xs:element minOccurs="0" maxOccurs="1" name="fireServiceValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="healthInsuranceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="healthInsured" type="tns:yesNoType" />
      <xs:element minOccurs="0" maxOccurs="1" name="insurance" type="tns:insurance" />
      <xs:element minOccurs="0" maxOccurs="1" name="healthInsuranceValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insurance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="insuranceName" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="insuranceAddress" type="q12:organisationMailAddressType" xmlns:q12="http://www.ech.ch/xmlns/eCH-0010-f/5" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="matrimonialInheritanceArrangementDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="matrimonialInheritanceArrangement" type="tns:yesNoType" />
      <xs:element minOccurs="0" maxOccurs="1" name="matrimonialInheritanceArrangementValidFrom" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>