WSDL/HelperService/HelperService_xsd_15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.ech.ch/xmlns/eCH-0173/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ech.ch/xmlns/eCH-0173/1">
  <xs:import schemaLocation="HelperService_xsd_16.xsd" namespace="http://www.ech.ch/xmlns/eCH-0097-f/2" />
  <xs:import schemaLocation="HelperService_xsd_17.xsd" namespace="http://www.ech.ch/xmlns/eCH-0044-f/3" />
  <xs:import schemaLocation="HelperService_xsd_18.xsd" namespace="http://www.ech.ch/xmlns/eCH-0010/5" />
  <xs:import schemaLocation="HelperService_xsd_19.xsd" namespace="http://www.ech.ch/xmlns/eCH-0007/5" />
  <xs:import schemaLocation="HelperService_xsd_20.xsd" namespace="http://www.ech.ch/xmlns/eCH-0021-f/6" />
  <xs:import schemaLocation="HelperService_xsd_21.xsd" namespace="http://www.ech.ch/xmlns/eCH-0011-f/7" />
  <xs:import schemaLocation="HelperService_xsd_25.xsd" namespace="http://www.ech.ch/xmlns/eCH-0098-f/2" />
  <xs:import schemaLocation="HelperService_xsd_27.xsd" namespace="http://www.ech.ch/xmlns/eCH-0046/2" />
  <xs:complexType name="eventPersonInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="requester" type="tns:requesterType" />
      <xs:element minOccurs="0" maxOccurs="1" name="justification" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="requestedInformation" type="tns:requestetInformationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="municipality" type="q1:swissMunicipalityType2" xmlns:q1="http://www.ech.ch/xmlns/eCH-0007/5" />
      <xs:element minOccurs="0" maxOccurs="1" name="personIdentification" type="tns:personIdentificationType23" />
      <xs:element minOccurs="0" maxOccurs="1" name="organisationIdentification" type="q2:organisationIdentificationType" xmlns:q2="http://www.ech.ch/xmlns/eCH-0097-f/2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="q3:swissAddressInformationType2" xmlns:q3="http://www.ech.ch/xmlns/eCH-0010/5" />
      <xs:element minOccurs="0" maxOccurs="1" name="extension" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requesterType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="organisationIdentification" type="q4:organisationIdentificationType" xmlns:q4="http://www.ech.ch/xmlns/eCH-0097-f/2" />
      <xs:element minOccurs="0" maxOccurs="1" name="personIdentification" type="tns:personIdentificationType23" />
      <xs:element minOccurs="0" maxOccurs="1" name="mailAddress" type="q5:mailAddressType2" xmlns:q5="http://www.ech.ch/xmlns/eCH-0010/5" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personIdentificationType23">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="vn" type="xs:unsignedLong" />
      <xs:element minOccurs="0" maxOccurs="1" name="localPersonId" type="q6:namedPersonIdType" xmlns:q6="http://www.ech.ch/xmlns/eCH-0044-f/3" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="otherPersonId" type="q7:namedPersonIdType" xmlns:q7="http://www.ech.ch/xmlns/eCH-0044-f/3" />
      <xs:element minOccurs="0" maxOccurs="1" name="officialName" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="callName" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="firstName" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="sex" type="tns:sexType" />
      <xs:element minOccurs="0" maxOccurs="1" name="dateOfBirth" type="q8:datePartiallyKnownType" xmlns:q8="http://www.ech.ch/xmlns/eCH-0044-f/3" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="sexType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="requestetInformationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="eventPersonInformationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="personInformationResult" type="tns:personInformationResult" />
      <xs:element minOccurs="0" maxOccurs="1" name="personDataIndividual" type="tns:personDataIndividual" />
      <xs:element minOccurs="0" maxOccurs="1" name="personDataOrganisation" type="q9:organisationType" xmlns:q9="http://www.ech.ch/xmlns/eCH-0098-f/2" />
      <xs:element minOccurs="0" maxOccurs="1" name="mainResidenceInformation" type="tns:mainResidenceInformation" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="secondaryResidenceInformation" type="tns:secondaryResidenceInformation" />
      <xs:element minOccurs="0" maxOccurs="1" name="contactAddress" type="tns:contactAddress" />
      <xs:element minOccurs="0" maxOccurs="1" name="additionalContactInformation" type="q10:contactType" xmlns:q10="http://www.ech.ch/xmlns/eCH-0046/2" />
      <xs:element minOccurs="0" maxOccurs="1" name="extension" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="personInformationResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="personDataIndividual">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="personidentification" type="q11:personIdentificationType" xmlns:q11="http://www.ech.ch/xmlns/eCH-0044-f/3" />
      <xs:element minOccurs="0" maxOccurs="1" name="birthData" type="q12:birthDataType" xmlns:q12="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="1" name="deathData" type="q13:deathDataType" xmlns:q13="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="1" name="nameData" type="q14:nameDataType" xmlns:q14="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="1" name="maritalData" type="q15:maritalDataType" xmlns:q15="http://www.ech.ch/xmlns/eCH-0011-f/7" />
      <xs:element minOccurs="0" maxOccurs="1" name="religionData" type="q16:religionDataType" xmlns:q16="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="1" name="nationalityData" type="q17:nationalityDataType" xmlns:q17="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="1" name="generalData" type="q18:generalDataType" xmlns:q18="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="1" name="residencePermitData" type="q19:residencePermitDataType" xmlns:q19="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="relationship" type="q20:relationshipType" xmlns:q20="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="originAddon" type="q21:placeOfOriginAddonType" xmlns:q21="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="1" name="jobTitle" type="xs:token" />
      <xs:element minOccurs="0" maxOccurs="1" name="kindOfEmployment" type="tns:kindOfEmployment" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="occupation" type="q22:occupationType" xmlns:q22="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="1" name="armedForces" type="q23:armedForcesType" xmlns:q23="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="1" name="civilDefense" type="q24:civilDefenseDataType" xmlns:q24="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="1" name="fireService" type="q25:fireServiceType" xmlns:q25="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="1" name="healthInsurance" type="q26:healthInsuranceType" xmlns:q26="http://www.ech.ch/xmlns/eCH-0021-f/6" />
      <xs:element minOccurs="0" maxOccurs="1" name="matrimonialInheritanceArrangement" type="q27:matrimonialInheritanceArrangementDataType" xmlns:q27="http://www.ech.ch/xmlns/eCH-0021-f/6" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="kindOfEmployment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="mainResidenceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="mainResidenceMunicipality" type="q28:swissMunicipalityType2" xmlns:q28="http://www.ech.ch/xmlns/eCH-0007/5" />
      <xs:element minOccurs="0" maxOccurs="1" name="dwellingAddress" type="q29:dwellingAddressType" xmlns:q29="http://www.ech.ch/xmlns/eCH-0011-f/7" />
      <xs:element minOccurs="0" maxOccurs="1" name="businessAddres" type="q30:dwellingAddressType2" xmlns:q30="http://www.ech.ch/xmlns/eCH-0098-f/2" />
      <xs:element minOccurs="0" maxOccurs="1" name="mailAddress" type="q31:swissAddressInformationType2" xmlns:q31="http://www.ech.ch/xmlns/eCH-0010/5" />
      <xs:element minOccurs="0" maxOccurs="1" name="comesFrom" type="q32:destinationType" xmlns:q32="http://www.ech.ch/xmlns/eCH-0011-f/7" />
      <xs:element minOccurs="0" maxOccurs="1" name="arrivalDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="goesTo" type="q33:destinationType" xmlns:q33="http://www.ech.ch/xmlns/eCH-0011-f/7" />
      <xs:element minOccurs="0" maxOccurs="1" name="departureDate" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="secondaryResidenceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="secondaryResidenceMunicipality" type="q34:swissMunicipalityType2" xmlns:q34="http://www.ech.ch/xmlns/eCH-0007/5" />
      <xs:element minOccurs="0" maxOccurs="1" name="dwellingAddress" type="q35:dwellingAddressType" xmlns:q35="http://www.ech.ch/xmlns/eCH-0011-f/7" />
      <xs:element minOccurs="0" maxOccurs="1" name="businessAddres" type="q36:dwellingAddressType2" xmlns:q36="http://www.ech.ch/xmlns/eCH-0098-f/2" />
      <xs:element minOccurs="0" maxOccurs="1" name="mailAddress" type="q37:swissAddressInformationType2" xmlns:q37="http://www.ech.ch/xmlns/eCH-0010/5" />
      <xs:element minOccurs="0" maxOccurs="1" name="comesFrom" type="q38:destinationType" xmlns:q38="http://www.ech.ch/xmlns/eCH-0011-f/7" />
      <xs:element minOccurs="0" maxOccurs="1" name="arrivalDate" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="goesTo" type="q39:destinationType" xmlns:q39="http://www.ech.ch/xmlns/eCH-0011-f/7" />
      <xs:element minOccurs="0" maxOccurs="1" name="departureDate" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="personIdentification" type="q40:personIdentificationType" xmlns:q40="http://www.ech.ch/xmlns/eCH-0044-f/3" />
      <xs:element minOccurs="0" maxOccurs="1" name="personIdentificationPartner" type="q41:personIdentificationLightType" xmlns:q41="http://www.ech.ch/xmlns/eCH-0044-f/3" />
      <xs:element minOccurs="0" maxOccurs="1" name="partnerIdOrganisation" type="q42:partnerIdOrganisationType" xmlns:q42="http://www.ech.ch/xmlns/eCH-0011-f/7" />
      <xs:element minOccurs="0" maxOccurs="1" name="contactAddress" type="q43:mailAddressType2" xmlns:q43="http://www.ech.ch/xmlns/eCH-0010/5" />
      <xs:element minOccurs="0" maxOccurs="1" name="contactValidTill" type="xs:date" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>