WSDL/HelperService/HelperService_xsd_22.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://www.ech.ch/xmlns/eCH-0008-f/3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ech.ch/xmlns/eCH-0008-f/3"><xs:complexType name="countryType"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="countryId" type="xs:integer"/><xs:element minOccurs="0" maxOccurs="1" name="countryIdISO2" type="xs:token"/><xs:element minOccurs="0" maxOccurs="1" name="countryNameShort" type="xs:token"/></xs:sequence></xs:complexType></xs:schema>