WSDL/HelperService/HelperService_xsd_16.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://www.ech.ch/xmlns/eCH-0097-f/2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ech.ch/xmlns/eCH-0097-f/2"><xs:complexType name="organisationIdentificationType"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="uid" type="tns:uidStructureType"/><xs:element minOccurs="0" maxOccurs="1" name="localOrganisationId" type="tns:namedOrganisationIdType"/><xs:element minOccurs="0" maxOccurs="unbounded" name="OtherOrganisationId" type="tns:namedOrganisationIdType"/><xs:element minOccurs="0" maxOccurs="1" name="organisationName" type="xs:token"/><xs:element minOccurs="0" maxOccurs="1" name="organisationLegalName" type="xs:token"/><xs:element minOccurs="0" maxOccurs="1" name="organisationAdditionalName" type="xs:token"/><xs:element minOccurs="0" maxOccurs="1" name="legalForm" type="xs:string"/></xs:sequence></xs:complexType><xs:complexType name="uidStructureType"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="uidOrganisationIdCategorie" type="tns:uidOrganisationIdCategorieType"/><xs:element minOccurs="0" maxOccurs="1" name="uidOrganisationId" type="xs:nonNegativeInteger"/></xs:sequence></xs:complexType><xs:simpleType name="uidOrganisationIdCategorieType"><xs:restriction base="xs:string"><xs:enumeration value="CHE"/><xs:enumeration value="ADM"/></xs:restriction></xs:simpleType><xs:complexType name="namedOrganisationIdType"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="organisationIdCategory" type="xs:token"/><xs:element minOccurs="0" maxOccurs="1" name="organisationId" type="xs:token"/></xs:sequence></xs:complexType></xs:schema>