WSDL/HelperService/HelperService_xsd_28.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://www.ech.ch/xmlns/eCH-0044/2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ech.ch/xmlns/eCH-0044/2"><xs:complexType name="namedPersonIdType2"><xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="personIdCategory" type="xs:token"/><xs:element minOccurs="0" maxOccurs="1" name="personId" type="xs:token"/></xs:sequence></xs:complexType></xs:schema>